
<section class="h-100 h-custom" style="background-color: #ec8916;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          
            
          <div class="card-body p-4 p-md-5">

  
    
       <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Log In </h3>
   

  <form class="px-md-2" action="/auth/login" method="POST">
  <div class="form-outline mb-4">
     
      <label class="form-label"> Username
      <input type="text" id="form3Example1q" class="form-control" name="username" placeholder="Your username" />
    </label>
  </div>

   <div class="form-outline mb-4">
    <label  class="form-label"> Email
      <input type="email"  class="form-control" name="email" placeholder="Your email"  />
    </label>
</div>
 <div class="form-outline mb-4">
    <label  class="form-label"> Password
      <input type="password"  class="form-control" name="password" placeholder="Your password" />
    </label>
</div>
    <button type="submit" class="btn btn-success btn-lg mb-1">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    
  </form>
</div>
</div>
      </div>
    </div>
  </div>
</section>