<body class="body-index">
  <div class="credentials-div">
  <h2 class="titles">Sign Up</h2>


  <form action="/auth/signup" method="POST">
    <div class="credentials-details">
      <label class="crud-labels"> Username: <br>
        <input class="input-text-crud" type="text" name="username" placeholder="Your username" />
      </label>
      <br>

      <label class="crud-labels"> Email: <br>
        <input class="input-text-crud" type="email" name="email" placeholder="Your email" />
      </label>
      <br>

      <label class="crud-labels"> Password: <br>
        <input class="input-text-crud" type="password" name="password" placeholder="Your password" />
      </label>

      <button class="btn custom-btn btn1-lp" id="btn1-lp" type="submit">Sign Up</button>
  </form>

  {{#if errorMessage}}
    <p class="error" id="error-credentials">{{errorMessage}}</p>
  {{/if}}
</div>
</div>
</body>
