:root {
  --main-bg-color: #faf5ff;
  --primary-color: #ff8d41;
  --secondary-color: #ff407c;
  --tertiary-color: #00b7ff;
  --quaternary-color: #ff0000;
  --text-color: #ffffff;
  --text-color-secondary: #333;
  --bg: #e6f3fa;
  --primary-color: #ff8d41;

  --bg: #ff407c;
  --bg1: rgb(245, 236, 232);
  --bg2: #ffd07341;
  --bg3: #e6f3fa;
  /* make gradient between pink and orange */

  --bg: linear-gradient(90deg, rgba(255, 64, 124, 1) 0%, rgba(255, 141, 65, 1) 100%);
}

body {
  padding: 50px;
  font-family: "Lato";
  font-size: 16px;
  background-color: var(--main-bg-color);

  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: var(--primary-color);
}

h1 {
  font-size: 1.3 rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1 rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1 rem;
  font-weight: bold;
}

.hello {
  margin: 7.5px;
}
#logout-form {
  display: inline-flex;
}
#logout-btn {
  gap: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
#header-index {
  display: flex;
  justify-content: center;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: var(--bg);
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 4px;
}

btn:hover {
  background-color: var(--secondary-color);
}

input {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 7% 0 7%;
  /* width: 100%; */
}

.normal-list {
  display: flex;
  flex-direction: column;
}

.post-list-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5% 7% 0 7%;

  background-color: #ddd;
  /* width: 100%; */
}

.card-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem;
}

.post-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  /* margin: 4rem 1.6rem 1.6rem 1.6rem; */
  padding: 0 4rem 2rem 4rem;
  background-color: white;
  width: 900px;
  min-height: 220px;
  max-height: 520px;
  /* width: 60%; */
  border: 2px solid #ddd;

  border-radius: 4px;
  cursor: pointer;
}

.post-list-card:hover {
  background-color: rgb(252, 249, 239);
  /* color: var(--text-color); */
}

section a {
  color: var(--text-color-secondary);
  text-decoration: none;
}

.post-list-card > h3 {
  position: relative;
  margin-bottom: 1rem;
  padding: 0;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: #eee;
  gap: calc(10px + 1vw);
}

.card-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10px;
  cursor: default;
  margin-top: 10px;
  border-bottom: 2px solid #ddd;
  /* background-color: #dedede; */
}

.card-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;

  margin: 0;
  padding: 1rem 0;
  width: 800px;

  width: 50rem;
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  /* background-color: #dedede; */
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

.card-middle > h3 {
  margin: 0.4rem 0;
  font-weight: bold;
  width: 100%;
}

.card-middle > p {
  margin: 0.4rem 0;
  width: 100%;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  gap: 10px;
  cursor: pointer;
  margin: 0;
  border-bottom: 2px solid #ddd;

  /* background-color: #dedede; */
}
.card-bottom > img {
  max-height: 300px;
  max-width: auto;
  object-fit: contain;
}

.arrow {
  color: #333;
}

.arrow:hover {
  color: orange;
}

.by-user {
  font-weight: bold;
}

.by-user:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 900) {
  .hambi {
    display: none;
  }
}

/**********Sign up page ************/

.signup {
  margin: 2em 10em 2em 10em;

  padding: 2em 6em 2em 6em;
  background: rgb(2, 0, 36);
  background: linear-gradient(117deg, rgb(240, 122, 54) 0%, rgba(236, 107, 107, 0.976) 96%, rgb(235, 102, 41) 98%);
  color: #ffff;

  border-radius: 1.25rem;

  display: flex;
  justify-content: center;
}
#container_1 {
  text-align: center;
}
#container_2 {
  display: flex;
  flex-direction: column;
}
.su-form {
  width: 100%;
  height: 2rem;
  margin-bottom: 1em;
}
#su-submit {
  display: block;
  width: 50%;
  margin-left: 10rem;
  padding: 0.75rem;
  background: rgb(2, 0, 36);
  color: inherit;
  border-radius: 15px;
  cursor: pointer;
}

.signup-label {
  display: flex;
  flex-direction: column;
}
.base-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subreddit-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 4px solid #ddd;
  max-width: 1200px;
  /* make div centered */
  margin-left: auto;
  margin-right: auto;
}

.sd-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ---------post page---------*/
.form-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  width: 980px;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
  padding: 20px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

.subreddit-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  width: 980px;
}

.card-top-subreddit {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10px;
  cursor: default;
  margin-top: 10px;
  margin-left: 2rem;
  border-bottom: 2px solid #ddd;
  overflow: hidden;
  /* background-color: #dedede; */
}

.card-middle-subreddit {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 1rem 0;
  width: 800px;

  width: 50rem;
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  /* background-color: #dedede; */
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  margin: 0;
  padding: 1rem 0;
  width: 980px;

  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-bg-color);
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

.flitbtn {
  flex-basis: 1;
}
/**********Sign up page ************/
/******** Log In ******************/ ;
