:root {
  --main-bg-color: #faf5ff;
  --primary-color: #ff8d41;
  --secondary-color: #ff407c;
  --tertiary-color: #00b7ff;
  --quaternary-color: #ff0000;
  --text-color: #ffffff;
  --text-color-secondary: #333;
  --bg: #e6f3fa;
  --primary-color: #ff8d41;

  --bg: #ff407c;
  --bg1: rgb(245, 236, 232);
  --bg2: #ffd07341;
  --bg3: #e6f3fa;
  /* make gradient between pink and orange */

  --bg: linear-gradient(90deg, rgba(255, 64, 124, 1) 0%, rgba(255, 141, 65, 1) 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato";
}

body {
  font-family: "Lato";
  font-size: 16px;
  background-color: var(--main-bg-color);

  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: var(--primary-color);
}

h1 {
  font-size: 1.3 rem;
  font-weight: bold;
}

h2 {
  font-size: 1.1 rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1 rem;
  font-weight: bold;
}

.hello {
  margin: 7.5px;
  font-size: 20px;
}
#logout-form {
  display: inline-flex;
}
#logout-btn {
  gap: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
#header-index {
  display: flex;
  justify-content: center;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: var(--bg);
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 4px;
}

btn:hover {
  background-color: var(--secondary-color);
}

input {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 7% 0 7%;
  /* width: 100%; */
}

.normal-list {
  display: flex;
  flex-direction: column;
}

.post-list-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5% 7% 0 7%;

  background-color: #ddd;
  /* width: 100%; */
}

.card-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem;
}

.post-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  /* margin: 4rem 1.6rem 1.6rem 1.6rem; */
  padding: 0 4rem 2rem 4rem;
  background-color: white;
  width: 900px;
  max-width: 80vw;
  min-height: 220px;
  max-height: 520px;
  /* width: 60%; */
  border: 2px solid #ddd;

  border-radius: 4px;
  cursor: pointer;
}

.post-list-card:hover {
  background-color: rgb(252, 249, 239);
  /* color: var(--text-color); */
}

section a {
  color: var(--text-color-secondary);
  text-decoration: none;
}

.post-list-card > h3 {
  position: relative;
  margin-bottom: 1rem;
  padding: 0;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: #eee;
  gap: calc(10px + 1vw);
}

h1 {
  color: 15px;
}
.hello {
  margin: 7.5px;
}
#logout-form {
  display: inline-flex;
}
#logout-btn {
  gap: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
#header-index {
  display: flex;
  justify-content: center;
}

.card {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.name {
  font-size: 22px;
  font-weight: bold;
}

.idd {
  font-size: 14px;
  font-weight: 600;
}

.idd1 {
  font-size: 12px;
}

.number {
  font-size: 22px;
  font-weight: bold;
}

.follow {
  font-size: 12px;
  font-weight: 500;
  color: #444444;
}

.btn1 {
  height: 40px;
  width: 150px;
  border: none;
  background-color: #000;
  color: #aeaeae;
  font-size: 15px;
}

.text span {
  font-size: 13px;
  color: #545454;
  font-weight: 500;
}

.icons i {
  font-size: 19px;
}

hr .new1 {
  border: 1px solid;
}

.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold;
}

.date {
  background-color: #ccc;
}

a {
  color: white;
  text-decoration: none;
}

.title {
  padding: 1vh;
}

.text mt-3 {
  font-size: 18px;
}

/*Landing page*/

.img-lp {
  /* padding-top: 150px;
  padding-left: 50px; */
  background-image: url("https://res.cloudinary.com/dm6a8aocc/image/upload/v1673541239/mingle/5891169_3045684_wejbd3.jpg");
  background-position: 25%;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.line-lp {
  width: 35%;
}

@media (max-width: 768px) {
  .line-lp {
    padding: 0;
    margin: 0;
  }

  .lp {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    /* margin-left: -16px; */
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  .img-lp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.header-lp {
  margin-top: 5vh;
}

.mingle-lp {
  color: #333;
  font-family: "Kaushan Script";
  font-size: 100px;
}

@media (max-width: 768px){
  .mingle-lp {
    margin-top: -5vh;
  }
}

.custom-btn {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  width: 250px;
  height: 45px;
  color: #444;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* btn1 */
.btn1-lp {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #fdce32 0%, #ff7615 74%);
  line-height: 42px;
  padding: 0;
  border: none;
  font-weight: bold;
}
.btn1-lp:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #fd8732 0%, #fdce32 74%);
  color: white;
}
.btn1-lp span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn1-lp:before,
.btn1-lp:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn1-lp:before {
  height: 0%;
  width: 0.1px;
}
.btn1-lp:after {
  width: 0%;
  height: 0.1px;
}
.btn1-lp:hover:before {
  height: 100%;
}
.btn1-lp:hover:after {
  width: 100%;
}
.btn1-lp span:before,
.btn1-lp span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn1-lp span:before {
  width: 0.1px;
  height: 0%;
}
.btn1-lp span:after {
  width: 0%;
  height: 0.1px;
}
.btn1-lp span:hover:before {
  height: 100%;
}
.btn1-lp span:hover:after {
  width: 100%;
}

/* btn2 */
.btn2-lp {
  background-color: #4dccc6;
  background-image: linear-gradient(315deg, #fe4777 0%, #d287e3 74%);
  line-height: 42px;
  padding: 0;
  font-weight: bold;
  border: none;
}
.btn2-lp:hover {
  background-color: #89d8d3;
  background-image: linear-gradient(315deg, #d287e3 0%, #fe4777 74%);
  color: white;
}
.btn2-lp span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn2-lp:before,
.btn2-lp:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn2-lp:before {
  height: 0%;
  width: 0.1px;
}
.btn2-lp:after {
  width: 0%;
  height: 0.1px;
}
.btn2-lp:hover:before {
  height: 100%;
}
.btn2-lp:hover:after {
  width: 100%;
}
.btn2-lp span:before,
.btn2-lp span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.9), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  transition: all 0.3s ease;
}
.btn2-lp span:before {
  width: 0.1px;
  height: 0%;
}
.btn2-lp span:after {
  width: 0%;
  height: 0.1px;
}
.btn2-lp span:hover:before {
  height: 100%;
}
.btn2-lp span:hover:after {
  width: 100%;
}

.img-up {
  background-image: url("https://res.cloudinary.com/dm6a8aocc/image/upload/v1673546865/mingle/profile-picture-banner_sbi3im.jpg");
  background-position: center;
  background-size: cover;
  height: 30vh;
  margin-bottom: -20vh;
}

#btn-edit {
  margin-top: 0;
  background-image: linear-gradient(315deg, #333 0%, #333 74%);
  color: white;
}

#btn-edit:hover {
  margin-top: 0;
  background-image: linear-gradient(315deg, #555 0%, #555 74%);
  color: white;
}

#btn-delete {
  background-image: linear-gradient(315deg, crimson 0%, crimson 74%);
  color: white;
}

#btn-delete:hover {
  background-image: linear-gradient(315deg, rgb(158, 17, 45) 0%, rgb(158, 17, 45) 74%);
  margin-bottom: 0;
}

.user-profile {
  width: 30vw;
  background-color: transparent;
}

.mt-3 p {
  font-size: 20px;
}

.stats-up {
  border: #ff7615;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.stats-up svg {
  color: #ff7615;
  margin-top: -10px;
  width: 50px;
  height: 20px;
}

.username-up {
  color: #ff7615;
}

/*CRUD forms*/
.crud-div {
  padding-left: 40px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.input-text-crud {
  padding: 10px;
  width: 435px;
  height: 40px;
  margin-bottom: 30px;
}

.form-control {
  font-size: 16px;
  margin-bottom: 30px;
}

.crud-labels {
  font-size: 18px;
  font-weight: bold;
}

.crud-bar {
  width: 50vw;
  margin-bottom: 60px;
}

@media (max-width: 768px){
  .crud-img {
    max-width: 300px;
  }
}


#crud-btn-update {
  height: 40px;
  font-size: 16px;
  width: 110px;
  background-image: linear-gradient(315deg, #ff903f 0%, #ff903f 74%);
  color: #333;
  margin: 0;
  padding: 0;
}

#crud-btn-update:hover {
  width: 110px;
  background-image: linear-gradient(315deg, #ee6300 0%, #ee6300 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#go-back-btn {
  height: 40px;
  font-size: 16px;
  width: 110px;
  background-image: linear-gradient(315deg, #ff1058 0%, #ff1058 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#go-back-btn:hover {
  width: 110px;
  background-image: linear-gradient(315deg, #ff447a 0%, #ff447a 74%);
  color: #333;
  margin: 0;
  padding: 0;
}

#go-back-btn svg {
  width: 35px;
  height: 20px;
}

.error {
  color: crimson;
  font-weight: bold;
  font-size: 18px;
}

#crud-btn-delete {
  height: 40px;
  font-size: 16px;
  width: 160px;
  background-image: linear-gradient(315deg, crimson 0%, crimson 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#crud-btn-delete:hover {
  height: 40px;
  font-size: 16px;
  width: 160px;
  background-image: linear-gradient(315deg, rgb(158, 17, 45) 0%, rgb(158, 17, 45) 74%);
  margin: 0;
  padding: 0;
}

#crud-select {
  font-size: 20px;
  margin-bottom: 30px;
}

.input-text-crud {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


@media (min-width: 768px) {
  .card-top-subreddit{
    margin-left: 20px;
  }

  .p-4 {
    width: 550px;
  }

  .form-control{
    width: 400px;
  }
}


.titles {
  font-family: "Kaushan Script";
  height: 80px;
  margin-bottom: 40px;
  font-size: 60px;
  background: linear-gradient(45deg, #ff8d41, 20%, #ff407c, 1000%, #00b7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.credentials-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  padding: 30px;
  padding-bottom: 50px;
  border-radius: 3%;
  background-color: rgb(240, 240, 240);
}

.credentials-div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#error-credentials {
  margin-top: 20px;
  max-width: 500px;
} 

.nbs {
  font-size: 20px;
}

.nbs:hover {
  background: linear-gradient(45deg, #ff8d41, 50%, #ff407c, 100%, #00b7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#logout-btn {
  background-color: transparent;
  border: none;
  padding-top: 8px;
  padding-left: 8px;
  margin: 0;
}

#logout-btn:hover {
  background: linear-gradient(45deg, #d287e3, 50%, #ff407c, 100%, #00b7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 992px) {
  .pp-div1 {
    display: flex;
    width: 85vw;
    margin-left: 1vw;
    justify-content: flex-end;
  }
}

.body-index {
  background-color: white;
}

/* LOVRO */

.signup-label {
  display: flex;
  flex-direction: column;
}
.base-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subreddit-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border: 4px solid #ddd;
  width: 80vw;
  max-width: 1200px;
  /* make div centered */
  margin-left: auto;
  margin-right: auto;
}

.sd-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ---------post page---------*/
.form-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 3rem;
  padding: 20px;
  background-color: white;
  width: 980px;
  max-width: 90vw;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin: 10px;
  padding: 20px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  max-width: 84vw;
}

.subreddit-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: white;
  width: 980px;
  max-width: 80vw;
}

.card-top-subreddit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10px;
  cursor: default;
  margin-top: 10px;
  border-bottom: 2px solid #ddd;
  /* background-color: #dedede; */
} 

.card-middle-subreddit {
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: 0;
  padding: 1rem 0;
  width: 900px;
  max-width: 72vw;

  overflow: hidden;
  cursor: pointer;
  /* background-color: #dedede; */
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;

  padding: 1rem 0;
  width: 980px;
  max-width: 80vw;

  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--main-bg-color);
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

@media screen and (max-width: 800px) {
  form {
    flex-direction: column;
    align-items: center;
  }
}

.flitbtn {
  flex-basis: 1;
}

.vote-arrow {
  border: none;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: var(--bg);
}

.btn {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  border: none;
  border-radius: 4px;
}

btn:hover {
  background-color: var(--secondary-color);
}

input {
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.post-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 0 7% 0 7%;
  /* width: 100%; */
}

.normal-list {
  display: flex;
  flex-direction: column;
}

.post-list-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1.5% 7% 0 7%;

  background-color: #ddd;
  /* width: 100%; */
}

.card-votes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0.3rem;
}

.post-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
  /* margin: 4rem 1.6rem 1.6rem 1.6rem; */
  padding: 0 3vw 2rem 3vw;
  background-color: white;
  width: 900px;
  min-height: 220px;
  max-height: 520px;
  /* width: 60%; */
  border: 2px solid #ddd;

  border-radius: 4px;
  cursor: pointer;
}

.post-list-card:hover {
  background-color: rgb(252, 249, 239);
  /* color: var(--text-color); */
}

section a {
  color: var(--text-color-secondary);
  text-decoration: none;
}

.post-list-card > h3 {
  position: relative;
  margin-bottom: 1rem;
  padding: 0;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: #eee;
  gap: calc(10px + 1vw);
}

.card-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  gap: 10px;
  cursor: default;
  margin-top: 10px;
  border-bottom: 2px solid #ddd;
  /* background-color: #dedede; */
}

.card-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;

  margin: 0;
  padding: 1rem 0;
  width: 800px;
  max-width: 72vw;

  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  /* background-color: #dedede; */
  /* border: 2px solid #ddd; */
  /* border-radius: 4px; */
  /* cursor: pointer; */
}

.card-middle > h3 {
  margin: 0.4rem 0;
  font-weight: bold;
  width: 100%;
}

.card-middle > p {
  margin: 0.4rem 0;
  width: 100%;
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  gap: 10px;
  cursor: pointer;
  margin: 0;
  border-bottom: 2px solid #ddd;

  /* background-color: #dedede; */
}
.card-bottom > img {
  max-height: 300px;
  max-width: auto;
  object-fit: contain;
}

.arrow {
  color: #333;
}

.arrow:hover {
  color: orange;
}

.by-user {
  font-weight: bold;
}

.by-user:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 900) {
  .hambi {
    display: none;
  }
}

#btn-up-edit {
  font-size: 18px;
  height: 40px;
  width: 160px;
  background-image: linear-gradient(315deg, #333 0%, #333 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#btn-up-edit:hover {
  width: 160px;
  background-image: linear-gradient(315deg, #555 0%, #555 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#btn-up-delete {
  font-size: 18px;
  height: 40px;
  width: 160px;
  background-image: linear-gradient(315deg, crimson 0%, crimson 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#btn-up-delete:hover {
  width: 160px;
  background-image: linear-gradient(315deg, rgb(158, 17, 45) 0%, rgb(158, 17, 45) 74%);
  color: white;
  margin: 0;
  padding: 0;
}

#search {
  margin-bottom: 0;
}

#btn1-lp {
  padding: 0;
  width: 200px;
}

#btn1-lp:hover {
  color: #444;
}

#btn2-lp {
  width: 200px;
  padding: 0;
}

#btn2-lp:hover {
  color: #444;
}
