<h2>Send message to {{id}}</h2>

<form action="/users/send-message" method="POST">

  <label for="message">Message</label>
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
  <input type="submit" value="Send" />
</form>