<h3>Create a new post</h3>

<form action="/post/create" method="post" enctype="multipart/form-data">

{{#if allSubreddits}}
    <label>Select Subredddit:
        <select name="subreddit">
            {{#each allSubreddits}}
            <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </label>
{{/if}}


    <div class="form-group">
        <label>
            Title:
            <br><br>
            <input type="text" class="form-control" name="title" />
        </label>
    </div>
    <br> <br>
    <div class="form-group">
        <label> Text: <br><br>
            <textarea class="form-control" name="text" cols="30" rows="4" /> </textarea>

        </label>>
        <br><br>
        <label>Picture:
            <input type="file" name="img" />
        </label>
        <br><br>
    </div>
    <button type="submit">Create Post</button>

</form>

{{#if errorMessage}}
<p class="error">{{errorMessage}}</p>
{{/if}}